@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

::-webkit-scrollbar-track {
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(218, 220, 224);
  background-clip: padding-box;
  border-image: initial;
  border-style: solid;
  border-color: transparent;
  border-width: 4px;
  border-radius: 8px;
}
::-webkit-scrollbar-button {
  height: 0px;
  width: 0px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  transition: opacity 0.4s ease;
}

body {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  background: #f1f1f1;

  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 600px;
}

.card .header {
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card .header img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
  transition: 0.4s ease border-radius;
}

.card .header img:hover {
  border-radius: 20px;
}

.card h1 {
  font-size: 25px;
}

.card p {
  font-size: 16px;
  color: #777;
}

.card a {
  font-size: 16px;
  font-weight: bold;
  color: #222;
  text-decoration: none;
  background: #fff;
  padding: 20px;
  width: 100%;
  border-radius: 8px;
  margin-bottom: 20px;
  transition: 0.4s ease box-shadow;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card a div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card a > svg {
  margin-left: 20px;
}

.card a > div > svg {
  margin-right: 20px;
}

.card a:hover {
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1000px) {
  .card {
    width: 100%;
    padding: 20px;
  }
}
